Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore

@jimenezict
jimenezict
/
tfm-barcelona
1
10
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
tfm-barcelona/.gitignore
@jimenezict
jimenezict first commit
Latest commit 1796b02 on 16 May
 History
 1 contributor
27 lines (21 sloc)  299 Bytes

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle
.idea
build/
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
